spring:
  application:
    name: hl
  threads:
    virtual:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: prometheus

server:
  netty:
    connection-timeout: 1s

